@media screen and (max-width: 480px) {
    .banner {
        height: 150vw;
    }
    .banner a {
        padding: 4vw 5vw 3vw;
        font-size: 9.8vw;
        border: 1vw solid white;
    }
    .banner p {
        margin: 8vw auto 0;
        width: 44vw;
        text-align: center;
        font-size: 6.97vw;
        line-height:1.2;
    }
    .beige-block {
        height: 100vw;
        padding: 0px 7vw;
        font-size: 7.5vw;
        line-height: 1.3;
    }
    .beige-block.white{
        background: #fff;
    }
    .beige-block br{
        display: none;
    }
    .contact-block {
        height: 80vw;
        padding: 15vw 16vw;
    }
    .contact-block h2 {
        font-size: 5.5vw;
    }
    .contact-block p {
        font-size: 5.5vw;
    }
    .three-in-line-blocks .qq {
        height: 100vw;
        border: 0.1vw solid white;
        padding: 16vw 10vw;
        width: 100%;
    }
    /*.three-in-line-blocks .qq:nth-child(2), .three-in-line-blocks .qq:nth-child(5) {
        border-left: 0.2vw solid white;
        border-right: 0.2vw solid white;
    }*/
    .three-in-line-blocks .qq h2 {
        font-size: 6vw;
    }
    .three-in-line-blocks .qq p {
        font-size: 6vw;
        margin: 6.4vw 0;
    }
    .black-block {
        height: 75vw;
    }
    .black-block a {
        font-size: 8vw;
        padding: 5vw 8vw;
        border-radius: 5vw;
    }
    .black-block>div{
        font-size: 13vw;
        margin-bottom: 4vw;
    }
}