@media screen and (min-width: 961px) and (max-width: 1919px) {
    .banner {
        height: 49vw;
    }
    .banner a {
        padding: 1vw 1.7vw 0.7vw;
        font-size: 4.8vw;
        border: 0.5vw solid white;
    }
    .banner p {
        margin: 3vw 0 0;
        font-size: 2.6vw;
        width: 54vw;
    }
    .beige-block {
        font-size: 3.5vw;
    }
    .contact-block {
        height: 20vw;
        padding: 7vw 6vw;
    }
    .contact-block h2 {
        font-size: 1.4vw;
    }
    .contact-block p {
        font-size: 1.4vw;
    }
    .three-in-line-blocks .qq {
        height: 34vw;
        border: 0.1vw solid white;
        padding: 6vw 4vw;
        width: 33.3333%;
    }
    /*.three-in-line-blocks .qq:nth-child(2), .three-in-line-blocks .qq:nth-child(5) {
        border-left: 0.2vw solid white;
        border-right: 0.2vw solid white;
    }*/
    .three-in-line-blocks .qq h2 {
        font-size: 1.9vw;
    }
    .three-in-line-blocks .qq p {
        font-size: 1.9vw;
        margin: 2vw 0;
    }
    .black-block {
        height: 34vw;
    }
    .black-block a {
        font-size: 2vw;
        padding: 1vw 2vw;
        border-radius: 1vw;
    }
    .black-block>div{
        font-size: 4.5vw;
        margin-bottom:2.4vw;
    }
}