@font-face {
    font-family: "Gotham-XLight";
    src: url("Gotham-XLight/Gotham-XLight.eot");
    src: url("Gotham-XLight/Gotham-XLight.eot%3F")format("embedded-opentype"),
    url("Gotham-XLight/Gotham-XLight.woff") format("woff"),
    url("Gotham-XLight/Gotham-XLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gotham-Light";
    src: url("Gotham-Light/Gotham-Light.eot");
    src: url("Gotham-Light/Gotham-Light.eot%3F")format("embedded-opentype"),
    url("Gotham-Light/Gotham-Light.woff") format("woff"),
    url("Gotham-Light/Gotham-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gotham-Medium";
    src: url("Gotham-Medium/Gotham-Medium.eot");
    src: url("Gotham-Medium/Gotham-Medium.eot%3F")format("embedded-opentype"),
    url("Gotham-Medium/Gotham-Medium.woff") format("woff"),
    url("Gotham-Medium/Gotham-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Gotham-Bold";
    src: url("Gotham-Bold/Gotham-Bold.eot");
    src: url("Gotham-Bold/Gotham-Bold.eot%3F")format("embedded-opentype"),
    url("Gotham-Bold/Gotham-Bold.woff") format("woff"),
    url("Gotham-Bold/Gotham-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
